/*reset*/
html,body,article,section,ul,li,div,a{
	margin: 0;
	padding: 0;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
}


/*common*/
body{
	background: #000;
}

article.layout{
	width: 750px;
	margin: 0 auto;
}

div.page{
	height: 1076px;
	padding-top: 60px;
	background: url(../imgs/bg_qqWallet.png);
	position: relative;
	overflow: hidden;
}

.logo_1{
	height: 38px;
	text-align: center;
}

.logo_2{
	height: 350px;
	margin: 28px 0 0;
	text-align: center;
}

.arrow{
	width: 60px;
	height: 60px;
	margin-left: -30px;
	background: url(../imgs/arrow.png);
	position: absolute;
	left: 50%;
	bottom: 23%;
}
.clearfix:after{
	content: ".";
	display: block;
	height: 0;
	visibility:hidden;
	clear: both;
}
.clearMe{
	clear: left;
}
.bold{
	font-weight: bold;
}
.triangle_1, .triangle_2, .triangle_3, .triangle_4{
	position: absolute;
	background: url(../imgs/triangle.png);
}
.triangle_1{
	top: 20%;
	left: 2%;
	width: 56px;
	height: 64px;
	background-position: 0 0;
}
.triangle_2{
	top: 10%;
	right: 1%;
	width: 87px;
	height: 82px;
	background-position: 0 82px;
}
.triangle_3{
	bottom: 9%;
	left: -2%;
	width: 87px;
	height: 90px;
	background-position: 0 164px;
}
.triangle_4{
	bottom: 20%;
	right: -5%;
	width: 87px;
	height: 90px;
	background-position: 0 164px;
}


div.timeLineWarp{
	width: 750px;
	height: 900px;
	position: relative;
	overflow: hidden;
}


/*page-1*/
ul.timeLine {
	margin-top: 50px;
	position: absolute;
	left: 50%;
	padding-left: 0
}

ul.timeLine li.item{
	color: #b99c63;
	font-size: 24px;
	line-height: 1;
	height: 100px;
	border-left: 1px solid #71643d;

}

ul.timeLine li.item:last-child{
	border-left: none;
}

ul.timeLine li.item:nth-child(even) ul{
	text-align: right;
	position: relative;
	left: -340px;
}

ul.timeLine li div{
	float: left;
}

ul.timeLine li div.timeLinePoint{
	width: 25px;
	height: 25px;
	margin-left: -12.5px;
	background: url(../imgs/timePoint.png);
}

ul.timeLine li ul.timeEvent{
	margin-left: 30px;
	position: relative;
	left:0;
}


/*ul.timeLine li:nth-child(odd) ul.timeEvent{
	left: 344px;
}
ul.timeLine li:nth-child(even) ul.timeEvent{
	left: -610px;
}*/

ul.timeLine li ul.timeEvent li{
	margin-bottom: 10px;
}


ul.timeLine li ul.timeEvent li:nth-child(3){
	font-size: 20px;
	color: #96896e;
}


/*page-2*/
#page_2 div.logo_2{
	height: 230px;
}

ul#prize{
	width: 562px;
	height: 530px;
	margin:90px auto 0;
	padding-left: 0; 
}

ul#prize li{
	float: left;
	margin: 0 0 20px 45px;
	transform: scale(0);
}

ul#prize li:nth-child(3n+1){
	margin-left: 0px;
}


/*page-3*/
#iPhone_info, a.btn, p.tip{
	color: #b99c63;
}

#iPhone, #iPhone_info{
	float: left;
	height: 288px;
	margin-top: -50px;
	position: relative;
}

#iPhone{
	margin: -50px 120px 0 150px;
	/*left: -280px;*/
}

#iPhone_info{
	font-size: 27px;
	padding-top: 84px;
	/*left: 350px;*/
}

#iPhone_info span{
	color: yellow;
}



div.btnGroup{
	width: 750px;
	text-align: center;
	position: relative;
	bottom: -100%;
}
.btn{
	display: inline-block;
	width: 240px;
	height: 80px;
	font-size: 30px;
	line-height: 80px;
	border: 1px solid #f6cb6f;
}
#share{
	margin-left: 40px;
}

.tip{
	font-size: 24px;
	margin-top: 40px;
	padding-left: 10px;
	width: 750px;
	text-align: center;
}

.mask{
	width: 750px;
	height: 1136px;
	background: url(../imgs/mask.png);
	position: absolute;
	top: -100%;
	z-index: -1;
}


/*动画相关*/
.arrow{
	animation: arrowUpToDown 2.3s infinite;
	-webkit-animation: arrowUpToDown 2.3s infinite;
}

/*第一页的动画效果*/
#page_1.active .logo_1{
	-webkit-animation: fadeIn 0.5s both;
	animation: fadeIn 0.5s both;
}

#page_1.active .logo_2{
	-webkit-animation: fadeIn 0.5s both;
	-webkit-animation-delay: 0.5s;
	animation: fadeIn 0.5s both;
	animation-delay: 0.5s;
}


#page_1.active ul.timeLine li.item:nth-child(1) ul{
	-webkit-animation: slideRightToLeft-1 1s 1.6s both;
                -ms-animation: slideRightToLeft-1 1s 1.6s both;
                        animation: slideRightToLeft-1 1s 1.6s both;}	

#page_1.active ul.timeLine li.item:nth-child(2) ul {
 	-webkit-animation: slideLeftToRight-1 1s 3s both;
                -ms-animation: slideLeftToRight-1 1s 3s both;
                        animation: slideLeftToRight-1 1s 3s both;}	
                        
#page_1.active ul.timeLine li.item:nth-child(3) ul {
 	-webkit-animation: slideRightToLeft-1 1s 4s both;
                -ms-animation: slideRightToLeft-1 1s 4s both;
                        animation: slideRightToLeft-1 1s 4s both;}
                        
#page_1.active ul.timeLine li.item:nth-child(4) ul {
 	-webkit-animation: slideLeftToRight-1 1s 5s both;
                -ms-animation: slideLeftToRight-1 1s 5s both;
                        animation: slideLeftToRight-1 1s 5s both;}
                        
#page_1.active ul.timeLine li.item:nth-child(5) ul {
 	-webkit-animation: slideRightToLeft-1 1s 6s both;
                -ms-animation: slideRightToLeft-1 1s 6s both;
                        animation: slideRightToLeft-1 1s 6s both;}


/*第二页的动画效果*/

#page_2.active .logo_1{
	-webkit-animation: fadeIn 0.5s both;
	animation: fadeIn 0.5s both;
}

#page_2.active .logo_2{
	-webkit-animation: fadeIn 0.5s both;
	-webkit-animation-delay: 0.5s;
	animation: fadeIn 0.5s both;
	animation-delay: 0.5s;
}

/*第三页的动画效果*/

#page_3.active .logo_1{
	animation: fadeIn 0.5s both;
	-webkit-animation: fadeIn 0.5s both;
}

#page_3.active .logo_2{
	animation: fadeIn 0.8s both;
	animation-delay: 0.5s;
	-webkit-animation: fadeIn 0.8s both;
	-webkit-animation-delay: 0.5s;
}

#page_3.active #iPhone{
	animation: slideLeftToRight-2 0.6s both; 
	animation-delay: 1s;
	-webkit-animation: slideLeftToRight-2 0.6s both; 
	-webkit-animation-delay: 1s;
}

#page_3.active #iPhone_info{
	-webkit-animation: slideRightToLeft-2 0.6s both; 	
	-webkit-animation-delay: 1.6s;
	animation: slideRightToLeft-2 0.6s both; 	
	animation-delay: 1.6s;
}

#page_3.active .btnGroup{
	-webkit-animation: slideUp 0.6s both;
	-webkit-animation-delay: 2.2s;
	animation: slideUp 0.6s both;
	animation-delay: 2.2s;
}